.xdh-go-search__input {
    float: left;
    width: 300px;
    margin-left: 25px;
    & /deep/ .el-input__inner {
      border: 1px solid #151929;
      background-color: #1c2237;
      border-right-width: 0;
      color: #fff;
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }
    & /deep/ .el-input-group__append {
      border: 1px solid #151929;
      background-color: #1c2237;
      border-left-width: 0;
      color: #fff;
      font-size: 18px;
    }
  }
  .xdh-go-search {
    position: fixed;
    z-index: 999;
    top: 100px;
  }