$xdh-go-secondary-color: #aaa;
$xdh-go-border-color: #aaa;
$xdh-go-color-danger: #ff3300;
$xdh-go-color-primary: #2333ff;

$xdh-go-item-background: #fefefe;
$xdh-go-menu-background: #3d4c63;
$xdh-go-menu-color: #fff;

$xdh-go-box-color: #1c2237;
$xdh-go-box-border-color: #151929;
$xdh-go-box-disabled-color: #888;
$xdh-go-box-text-color: #fff;
$xdh-go-box-margin: 10px;
$xdh-go-box-width: 65px;
$xdh-go-box-radius: 5px;
$xdh-go-box-fontsize: 14px;
$xdh-go-box-padding: 0;

$xdh-go-dropdown-active-color: #2d69f7;
$xdh-go-dropdown-background: #4a6183;
$xdh-go-dropdown-border-color: #3d4c63;
$xdh-go-dropdown-disabled-color: #666;
$xdh-go-dropdown-text-color: #fff;

$xdh-go-popover-border-color: #3d4c63;
$xdh-go-popover-border-color2: #1c2237;

$xdh-go-layout-item-background: rgba(28, 34, 55, 0.8);
$xdh-go-layout-item-color: #fff;
$xdh-go-layout-item-padding: 10px 9px;
$xdh-go-layout-border-color: #121417;
$xdh-go-layout-border-width: 1px;
$xdh-go-layout-border-radius: 5px;
$xdh-go-layout-icon-size: 20px;

$xdh-go-search-border: 1px solid #151929;
$xdh-go-search-color: #fff;
$xdh-go-search-fontsize: 18px;
$xdh-go-search-placeholder-color: #fff;
$xdh-go-search-background: #1c2237;

$xdh-go-tool-collapsed-background: rgba(73, 164, 230, 0.8);
$xdh-go-tool-collapsed-color: #fff;

$xdh-go-tooltip-background:rgba(0, 0, 0, 0.8);
$xdh-go-tooltip-padding:10px 20px;
$xdh-go-tooltip-color:#fff;

$xdh-go-viewer-body-padding:10px;
$xdh-go-viewer-tree-padding:5px 10px;
$xdh-go-viewer-item-padding:5px 10px;
$xdh-go-viewer-active-border:1px solid #409eff;
